/* Overall styling */

html {
  background-color: #c9b5ab;
  font-family: "PT Serif", serif;
  font-size: 1.125rem;
  font-weight: normal;
  line-height: 1.5;
  color: #222;
}

img {
  width: 100%;
}

/* Header styling */

h1, h2 {
  font-family: "PT Sans", sans-serif;
  color: #3f1622;
  font-size: 1.5rem;
  font-weight:700;
}

i {
  font-weight: 700;
}

/* Overall nav styling */

a {
  font-family: "PT Sans", san-serif;
  font-size: 1.125rem;
  font-weight: 700;
}

/* Nav styling unclicked */

a {
  text-decoration: none;
  color: #8f2440;
}

/* Nav styling hover */

a:hover {
  color: #3f1622;
  text-decoration: underline;
}

/* Nav styling bullets */

nav > ol {
  list-style-type: none;
}

/* Caption styling */

figure > figcaption {
  font-style: italic;
  font-size: 1.125rem;
  text-align: center;
}

/* Time period styling */

figure + p {
  font-size: 1.5rem;
  font-weight: 700;
}

/* Jim quote styling */

p i {
  font-weight: normal;
  font-style: normal;
}

/* Chris Pratt quote styling */

blockquote p {
  font-size: 1.5rem; /* Sizing not as large as it should be */
  font-style:italic;
}

blockquote p strong {
  font-weight: normal;
}

blockquote footer {
  font-size: 0.8rem;
}

/* Greek list styling */

.crazy-list {
  list-style-type: lower-greek;
}

/* Nutritional information styling*/

.serving-size {
  font-style: italic;
}

dl dt {
  font-weight: 700;
}

/* Tags styling */

aside ul li {
  font-size: 0.8rem;
  list-style-type: circle;
}
